<ion-view view-title="发布同城圈">
  <ion-nav-buttons side="left">
      <a href="#/tab/dash">
        <button class="button button-icon icon ion-ios-arrow-back white-icon"></button>
      </a>
  </ion-nav-buttons>
</ion-view>