<ion-view view-title="{{new_item.name}}">
  <ion-nav-buttons side="right">
      <a href="#/search" nav-direction="back">
        <button class="button button-icon icon ion-ios-search"></button>
      </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <img ng-src="{{new_item.face}}" style="width: 64px; height: 64px">
    <p>
      {{new_item.lastText}}
    </p>
  </ion-content>
</ion-view>
