<ion-view view-title="其他页">
  <ion-nav-buttons side="left">
      <a href="#/tab/dash">
        <button class="button button-icon icon ion-ios-arrow-back"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <a href="#/other">
        <button class="button button-icon icon ion-person"></button>
      </a>
  </ion-nav-buttons>
</ion-view>