<ion-view view-title="上报">
  <ion-nav-buttons side="left">
      <a href="#/tab/dash">
        <button class="button button-icon icon ion-ios-close-empty white-icon"></button>
      </a>
  </ion-nav-buttons>


  <ion-content>

    <label class="item item-input" style="border: 0px;">
      <textarea placeholder="请输入上报内容描述" style="height: 8rem;"></textarea>
    </label>
    <label class="item item-input" style="border: 0px;">
      <button type="button" class="button button-icon icon ion-plus img-button" ng-click="openCamera()"></button>
      <div id="imageFile" class="prev-view">
        
      </div>
    </label>

    <div class="other-post-item">
      <div class="list">
        <label class="item item-icon-right">
          <span class="input-label">添加语音</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
        <label class="item item-icon-right">
          <span class="input-label">添加附件</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
        <label class="item item-icon-right">
          <span class="input-label">选择上报分类</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </label>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar align-title="center" style="padding: 0px;">
    <button type="button" class="button button-full" style="margin: 0px;background-color: #676767;color: #FFFFFF;font-size: 1rem;">发布</button>
  </ion-footer-bar>
</ion-view>