<ion-view view-title="同城圈">
  <ion-nav-buttons side="right">
      <a href="#/chat_post">
        <button class="button button-icon icon ion-ios-plus white-icon"></button>
      </a>
  </ion-nav-buttons>
  <ion-content>

      <div class="row chat-item" ng-repeat="chat in chats" ng-click="goChatDetail({{chat.id}})">
        <div class="col-15 text-center">
          <img class="list-avatar" ng-src="{{chat.face}}">
        </div>

        <div class="col-90" style="padding:0 0.5rem;">
          <div class="">
            <div>{{chat.name}}</div>
            <small>5分钟前</small>
          </div>
          <div class="chat-item-content">
            {{chat.lastText}}
          </div>
          <div class="chat-item-source">
            <div class="source-img">
               <img src="../img/mike.png" alt="">
            </div>
            <div class="source-img">
               <img src="../img/max.png" alt="">
            </div>
            <div class="source-img">
               <img src="../img/ben.png" alt="">
            </div>
          </div>
          <div class="chat-item-bottom-action">
            <div class="action-left">
              <small>浏览234次</small>
            </div>
            <div class="action-right">
              <label>
                <i class="icon ion-thumbsup"></i>
                <small>22</small>
              </label>
              <label>
                <i class="icon ion-chatbox-working"></i>
                <small>22</small>
              </label>
              <label>
                <i class="icon ion-ios-star"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
