<ion-view view-title="资讯">
  <ion-nav-buttons side="right">
      <a href="#/search">
        <button class="button button-icon icon ion-ios-search white-icon"></button>
      </a>
  </ion-nav-buttons>

<ion-header-bar class="bar-subheader">
    <div class="sub-header-list">
      <ion-scroll zooming="false" direction="x" scrollbar-x="false" style="width: 300%; height: 100%">
      <ul>
        <li class="actived">
          <a href="" title="">推荐00</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐2</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐</a>
        </li>
        <li>
          <a href="" title="">推荐1-000</a>
        </li>
      </ul>
      </ion-scroll>
      <button class="sub-right-button button button-icon icon ion-ios-plus-empty"></button>
    </div>
</ion-header-bar>
  <ion-content>
        <div class="news-item" ng-repeat="new_item in news" ng-click="goNewsDetail({{new_item.id}})">
          <div class="row news-item-content">
            <div class="col-33">
              <img ng-src="{{new_item.face}}" >
            </div>
            <div class="col-67 news-item-right">
              <a class="news-item-title">{{new_item.name}}</a>
              <div class="news-item-action">
                <ul>
                  <li>
                    <a class="news-tag tag-color-1" title="">标签</a>
                  </li>
                  <li>
                    <a title=""><span>12312</span><span>回答</span></a>
                  </li>
                  <li>
                    5分钟前
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- 
        <div class="news-item">
          <div class="row news-item-content">
            <div class="col-100 news-item-all">
              <a class="news-item-title">种粮直补政策解读</a>
              <div class="news-item-action">
                <ul>
                  <li>
                    <a class="news-tag tag-color-2" title="">标签</a>
                  </li>
                  <li>
                    <a title=""><span>12312</span><span>回答</span></a>
                  </li>
                  <li>
                    5分钟前
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="news-item">
          <div class="row news-item-content">
            <div class="col-100 news-item-all">
              <a class="news-item-title">种粮直补政策解读种粮直补政策解读种粮直补政策解读</a>
              <div class="news-item-action">
                <ul>
                  <li>
                    <a class="news-tag tag-color-3" title="">标签</a>
                  </li>
                  <li>
                    <a title=""><span>12312</span><span>回答</span></a>
                  </li>
                  <li>
                    5分钟前
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="news-item">
          <div class="row news-item-content">
            <div class="col-33">
              <img src="./img/perry.png" alt="">
            </div>
            <div class="col-67 news-item-right">
              <a class="news-item-title">种粮直补政策解读种粮直补政策解读种粮直补政策解读</a>
              <div class="news-item-action">
                <ul>
                  <li>
                    <a class="news-tag tag-color-4" title="">标签</a>
                  </li>
                  <li>
                    <a title=""><span>12312</span><span>回答</span></a>
                  </li>
                  <li>
                    5分钟前
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="news-item">
          <div class="row news-item-content">
            <div class="col-100 news-item-all">
              <a class="news-item-title">种粮直补政策解读种粮直补政策解读种粮直补政策解读</a>
              <div class="news-item-action">
                <ul>
                  <li>
                    <a class="news-tag tag-color-3" title="">标签</a>
                  </li>
                  <li>
                    <a title=""><span>12312</span><span>回答</span></a>
                  </li>
                  <li>
                    5分钟前
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
  </ion-content>
</ion-view>
