<ion-view view-title="分组">
  <ion-nav-buttons side="right">
      <a href="#/search">
        <button class="button button-icon icon ion-ios-search white-icon"></button>
      </a>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader">
    <!-- <form style="width:100%;height:35px;"> -->
          <div class="item-input-inset" style="border:0;height:100%;width:100%;">
              <div class="item-input-wrapper" style="background-color:#fff;height:25px;border:solid 1px #E1E1E1;width:100%;">
                  <i class="icon ion-android-search placeholder-icon" style="color: #CCCCCC;font-size:20px;cursor:pointer;"></i>
                  <input id="group_search" type="search" placeholder="请输入城市名称" style="font-size:14px;color:#262626;height:22px;width:100%;" ng-change="startDot()" ng-model="$parent.cityName">
                  <i class="ion-close-circled" ng-click="searchEmpty()" style="color: #CCCCCC;display:{{searchEmptyShow ? 'block' : 'none'}};"></i>
              </div>
          </div>
      <!-- </form> -->
  </ion-header-bar>
  <ion-content>
      <div style="padding-bottom:120px;">
        <div id="city_{{d.iniData}}" style="margin-right:1.2rem;" ng-repeat="d in cityDatas | filter:cityName">
            <div class="choose_city_abc" style="font-size: 18px;background:#F5F5F5;padding:8px 10px;">{{d.iniData}}</div>
            <div class="choose_city_data">
                <div class="group-item choose_city_border" ng-repeat="city in d.datas | filter:cityName" ng-click="confirmCity('{{city.zoneCityId}}','{{city.zoneCity}}')">
                  <img class="group-img" ng-src="{{city.face}}" >
                  <span class="group-name">
                    {{city.zoneCity}}
                  </span>
                </div>
                <div class="choose_city_border" style="padding:7px 0px;border-bottom:0;" ng-show="{{d.datas.length==0}}">暂无城市</div>
            </div>
        </div>
     </div>
  </ion-content>

    <div ng-touchend="mRelease()" ng-touchmove="mTouch($event)" ng-click="mTouch($event)" style="width:20px;text-align:center;position:absolute;right:0;top:99px;margin:2px 0;color:#458AFF;"> 
        <div ng-repeat="c in indexs" style="width:100%;height:{{hIndex}}px;">
            {{c}}
        </div> 
    </div>

    <div class="mid-words" ng-show="showMiddle">
        {{hint}}
    </div>
</ion-view>
