<ion-view view-title="工作">
  <ion-nav-buttons side="right">
      <a href="#/search">
        <button class="button button-icon icon ion-ios-search white-icon"></button>
      </a>
  </ion-nav-buttons>

  <ion-header-bar class="bar-subheader">
  </ion-header-bar>
  <ion-content>
      <div class="news-item" ng-repeat="work_item in works" ng-click="goWorkDetail({{work_item.id}})">
        <div class="row news-item-content">
          <div class="col-100 news-item-all">
            <a class="news-item-title">{{work_item.name}}</a>
            <div>{{work_item.lastText}}</div>
            <div class="news-item-action">
              <ul>
                <li>
                  <a class="news-tag tag-color-2" title="">标签</a>
                </li>
                <li>
                  <a title="">昌平机床厂</a>
                </li>
                <li>
                  北京
                </li>
                <li>
                  2016-07-07 16:45
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
