<ion-view view-title="智慧城关">
  <ion-nav-buttons side="right">
      <a href="#/other">
        <button class="button button-icon icon ion-person white-icon"></button>
      </a>
  </ion-nav-buttons>
  <ion-content class="">

    <!-- start 轮播图-->  
    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
      <ion-slide ng-repeat="banner in banners">  
        <div class="box banner"><img src="{{banner.imgSrc}}" /> </div>  
      </ion-slide>
    </ion-slide-box>
    <!-- end 轮播图-->

    <div>
      <div class="dash-module-list">
        <div class="dash-module-row row">
          <div class="item-module col-30">
            <a href="#/post">
            <button class="button button-icon icon icomoon icon-cloud-up color-1">
            <div>上报</div>
            </button>
            </a>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-coupon color-2">
            <div>商家优惠</div>
            </button>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-hui color-3">
            <div>惠明政策</div>
            </button>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-baby-face color-4">
            <div>计生服务</div>
            </button>
          </div>
        </div>
        <div class="dash-module-row row">
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-medical color-5">
            <div>农保信息</div>
            </button>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-medical color-6">
            <div>合作医疗</div>
            </button>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-two-hand color-7">
            <div>扶贫求助</div>
            </button>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-law color-8">
            <div>司法求助</div>
            </button>
          </div>
        </div>
        <div class="dash-module-row row">
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-shield color-9">
            <div>防灾减灾</div>
            </button>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-star-2 color-10">
            <div>民政管理</div>
            </button>
          </div>
          <div class="item-module col-30">
            <button class="button button-icon icon icomoon icon-module color-11">
            <div>模块管理</div>
            </button>
          </div>
        </div>
      </div>

      <!-- <div style="height: 0.5rem;background-color: #ebefee;"></div> -->

      <div class="main-content padding">

        <div class="section-item">
          222
        </div>
<h1>{{data}}</h1>
      </div>
         
    </div> 
  </ion-content>
</ion-view>
