<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-bottom tabs-color-active-positive my-tabs">

  <!-- Dashboard Tab -->
  <ion-tab title="同城圈" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="资讯" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="123123" icon-off="ion-ios-bolt-outline"  icon-on="ion-ios-bolt" class="bottom-nav-mid" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="工作" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/works">
    <ion-nav-view name="tab-works"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="公众号" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/groups">
    <ion-nav-view name="tab-groups"></ion-nav-view>
  </ion-tab>


</ion-tabs>
