<ion-view view-title="{{work.name}}">
  <ion-nav-buttons side="right">
      <a href="#search">
        <button class="button button-icon icon ion-ios-search"></button>
      </a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <img ng-src="{{work.face}}" style="width: 64px; height: 64px">
    <p>
      {{work.lastText}}
    </p>
  </ion-content>
</ion-view>
