@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g7dq82');
  src:  url('fonts/icomoon.eot?g7dq82#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g7dq82') format('truetype'),
    url('fonts/icomoon.woff?g7dq82') format('woff'),
    url('fonts/icomoon.svg?g7dq82#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-law:before {
  content: "\e900";
}
.icon-shield:before {
  content: "\e901";
}
.icon-two-hand:before {
  content: "\e902";
}
.icon-medical:before {
  content: "\e903";
}
.icon-hui:before {
  content: "\e904";
}
.icon-baby-face:before {
  content: "\e905";
}
.icon-star-2:before {
  content: "\e906";
}
.icon-module:before {
  content: "\e907";
}
.icon-cloud-up:before {
  content: "\e909";
}
.icon-coupon:before {
  content: "\e90a";
}

