@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?g7dq82');
  src:  url('#{$icomoon-font-path}/icomoon.eot?g7dq82#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?g7dq82') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?g7dq82') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?g7dq82#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-law {
  &:before {
    content: $icon-law;
  }
}
.icon-shield {
  &:before {
    content: $icon-shield;
  }
}
.icon-two-hand {
  &:before {
    content: $icon-two-hand;
  }
}
.icon-medical {
  &:before {
    content: $icon-medical;
  }
}
.icon-hui {
  &:before {
    content: $icon-hui;
  }
}
.icon-baby-face {
  &:before {
    content: $icon-baby-face;
  }
}
.icon-star-2 {
  &:before {
    content: $icon-star-2;
  }
}
.icon-module {
  &:before {
    content: $icon-module;
  }
}
.icon-cloud-up {
  &:before {
    content: $icon-cloud-up;
  }
}
.icon-coupon {
  &:before {
    content: $icon-coupon;
  }
}

