/* Empty. Add your own CSS if you like */
.scroll-content{
	background-color: #f5f5f5;
}

/* 子标题 相关 */
.bar-subheader{
	/*height: 35px;*/
	background-color: #f5f5f5;
}
.has-subheader{
	top: 79px;	
}
/*  */
.my-tabs{
	/*position: absolute;*/
}
.tab-item.bottom-nav-mid{
	/*background-color: #f8f8f8;*/
	/*border-radius: 50px;*/
	/*border-width: 4px;*/
	/*position: relative;*/
	/*top: -20px;*/
	/*bottom: 0px;*/
	/*height: 69px;*/

	text-align: center;
	/*line-height: 30%;*/
}

/* 底部菜单 */
.tabs{
	/*height: 40px;*/
	background-color: #FFFFFF;
}
.tab-item .icon{
	/*height: 22px;*/
	/*font-size: 22px;*/
}

/* 顶部 配色 */
.bar.bar-stable{
	background-color: #5998eb;
}
.bar.bar-stable .title{
	color: #FFF;
}

.white-icon{
	color: #FFF !important;
}

/* 轮播图 */
.slider{
	height: 7rem;
}
.slider .box.banner img{
	width: 100%;
}
.slider-pager {
	text-align: right;
	bottom: 7px;
	right: 5px;
	font-size: 0.3rem;
}

.slider-pager .slider-pager-page.active{
	color: #FFF;
	opacity: 0.3;
}
.slider-pager .slider-pager-page{
	color: #FFF;
	opacity: 1;
	width: 0.2rem;
	margin: 0 0.3rem;
}

/* 首页模块菜单 */
.dash-module-list{
	background-color: #FFFFFF;
}
.dash-module-row{
	border-bottom: 1px solid #efefef;
}
.dash-module-row:first-child{
	padding-top: 0px;	
}
.item-module{
	max-width: 25%;
	width: 25%;
	text-align: center;
	padding: 0.7rem 0 0.7rem 0;
}
.item-module div{
	font-size: 0.7rem;
	line-height: 10px;
	color: #000000;
}
.item-module .color-1{
	color: rgb(237, 66, 51);
}
.item-module .color-2{
	color: rgb(243, 148, 53);
}
.item-module .color-3{
	color: rgb(245, 145, 48);
}
.item-module .color-4{
	color: rgb(26, 133, 219);
}
.item-module .color-5{
	color: rgb(30, 166, 86);
}
.item-module .color-6{
	color: rgb(54, 150, 224);
}
.item-module .color-7{
	color: rgb(238, 149, 44);
}
.item-module .color-8{
	color: rgb(239, 55, 50);
}
.item-module .color-9{
	color: rgb(241, 140, 40);
}
.item-module .color-10{
	color: rgb(236, 110, 100);
}
.item-module .color-11{
	color: rgb(141, 139, 132);
}
.item-module .color-12{
	color: red;
}

.main-content{
	background-color: #FFFFFF;
	margin-top: 0.7rem;
}

/* post css */
.img-button{
    background-color: #f4f4f4;
    color: #797979;
    padding: 1.3rem 2rem;
}
.other-post-item{
	background-color: #FFFFFF;
	margin-top: 0.7rem;
}
.other-post-item .item{
	padding: 0.3rem 1.2rem;
}

/* chats list css */
.chat-item{
	background-color: #FFFFFF;
	margin: 1rem 0;
	padding: 0.4rem 0.6rem !important;
}
.chat-item:first-child{
	margin:0 0 1rem 0;
}
.list-avatar{
	display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 0.3rem;
    max-width: 2.4rem;
    max-height: 2.4rem;
}
.chat-item-content{
	font-size: 80%;
	margin: 0.3rem 0;
}
.chat-item-source{
	margin: 0.3rem 0;
}
.source-img{
	display: inline-block;
	width: 31%;
}
.source-img img{
	max-width: 100%;
	/*max-height: 6.1rem;*/
	width: 6.1rem;
	/*height: 6.1rem;*/
}
.chat-item-bottom-action{
  	color: #92959a;
}
.chat-item-bottom-action .action-left{
    display: inline-block;
    width: 30%;
}
.chat-item-bottom-action .action-right{
    display: inline-block;
    text-align: right;
    width: 66%;
}
.chat-item-bottom-action .action-right label{
  margin-right: 0.4rem;
}
.chat-item-bottom-action .action-right label:last-child{
  margin-right: 0;
}
/* 资讯 css */
.sub-header-list{
  display: block;
  width: 100%;
  height: 100%;
}
.sub-header-list ul{
  display: block;
  width: 100%;
  height: 100%;
}
.sub-header-list li{
  display: block;
  float: left;
  height: 100%;
  line-height: 40px;
  font-size: 90%;
  margin: 0 0.3rem;
}
.sub-header-list li a{
  text-decoration: none;
  color: #000;
}
.sub-header-list li.actived a{
  color: #387ef5;
}
.sub-right-button{
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  background-color: #f5f5f5;
}
.sub-right-button.activated{
  background-color: #f5f5f5 !important;
  opacity: 1 !important;
}

.news-item{
  background-color: #FFFFFF;
  cursor: pointer;
}

.group-item:active,
.chat-item:active,
.news-item:active,
.news-item.activated{
	border-color: #ccc;
  	background-color: #D9D9D9;
}
.news-item-content{
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 1px solid #ebebeb;
}
.news-item-content img{
  max-width: 100%;
  height: auto;
}
.news-item-right{
  padding: 0 0 0 1rem;
  position: relative;
}
.news-item-title{
  color: #000000;
  font-size: 0.9rem;
}
.news-item-right .news-item-action{
  position: absolute;
  bottom: 0;
}
.news-item-all .news-item-action{
  padding-top: 0.4rem;
}
.news-item-action{
  font-size: 60%;
  color: rgb(146,146,146);
}
.news-item-action a{
  color: rgb(146,146,146);
}
.news-item-action li{
  float: left;
  margin: 0 0.2rem;
}
.news-item-action li:first-child{
  margin-left: 0;
}
.news-tag{
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 2px;
}
.tag-color-1{
  border-color: rgb(240, 108, 113);
  color: rgb(240, 108, 113) !important;
}
.tag-color-2{
  border-color: rgb(56, 131, 243);
  color: rgb(56, 131, 243) !important;
}
.tag-color-3{
  border-color: rgb(245, 172, 124);
  color: rgb(245, 172, 124) !important;
}
.tag-color-4{
  border-color: rgb(236, 110, 100);
  color: rgb(236, 110, 100) !important;
}
/* groups css */
.choose_city_abc{
    /*border-bottom:solid 1px #e1e1e1;*/
    border-right:solid 1px #e1e1e1;
    /*border-top:solid 1px #e1e1e1;*/
}
.choose_city_border{
    border-bottom:solid 1px #f6f6f6;
    border-right:solid 1px #e1e1e1;
}
.choose_city_data{
    /*padding-left: 22px;*/
}
.choose_city_border:nth-last-child(2){
    border-bottom:0;
    border-right:solid 1px #e1e1e1;
}

.group-item{
	padding:7px 0 2px 11px;
	position: relative;
	background-color: #FFF;
}
.group-img{
	width: 2.3rem;
	height: 2.3rem;
    border-radius: 2.3rem;
}
.group-name{
    display: inline-block;
    position: absolute;
    top: 35%;
    margin-left: 1rem;
}
.mid-words{
	position:fixed;
	left:47%;
	top:47%;
	width:40px;
	height:40px;
	background:#ddd;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:20px;
	color:#262626;
}